@import "../base/colors";
@import "../utils/mixins";

.hero {
  padding-bottom: 60px;

  &__title {
    width: 279px;

    margin-bottom: 90px;

    color: map-get($map: $colors, $key: "primary-gray");
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 1; /* 100% */

    text-transform: uppercase;
    word-wrap: normal;
  }

  &__wrapper {
    color: map-get($map: $colors, $key: "primary-dark");
    font-weight: 700;
  }

  &__projects {
    margin-left: auto;
  }

  &__group {
    position: relative;
  }

  &__btns {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
  }

  &__swap {
    padding: 22.5px 18px;

    border: 1px solid map-get($map: $colors, $key: "secondary-gray");
    background-color: map-get($map: $colors, $key: "primary-white");

    cursor: pointer;
  }

  &__swap:first-child {
    margin-right: 23px;
  }

  &__swap:hover {
    background: map-get($map: $colors, $key: "arrow-hover");
  }

  &__btns::after {
    content: "";

    display: inline-block;
    height: 1px;

    background-color: map-get($map: $colors, $key: "secondary-gray");
    width: 271px;
  }

  &__slides {
    display: inline-flex;
    align-items: center;

    color: map-get($map: $colors, $key: "primary-gray");
    font-size: 24px;
    line-height: 1; /* 100% */
  }

  &__slash {
    display: inline-block;
    width: 44px;
    height: 2px;
    background-color: map-get($map: $colors, $key: "slash-color");

    margin-left: 26px;
    margin-right: 32px;

    transform: rotate(-45deg);
  }

  &__link {
    @include getLink(50px, "primary-dark", "primary-white");
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__arrow-right {
    margin-left: 12px;
  }
}
