body {
  font-family: "TT Hoves";
  font-size: 14px;

  font-weight: 400;
  letter-spacing: 0.42px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h6,
h5,
h4,
h3,
h2,
h1,
p {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
}
